__pycache__/
*.py[cod]
*.egg-info/
node_modules/
frontend/dist/
.env
.env.local
venv/
.venv/
pgdata/
scan_results/
reports/
.vscode/
.idea/
*.swp
.DS_Store
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
